@import url(https://fonts.googleapis.com/css?family=Montserrat);
body{
    /* background: -webkit-linear-gradient(to right, rgba(252,203,144,0.4), rgba(213,126,235,0.4)); */
    /* background: linear-gradient(to right, rgba(48,207,208,0.4), rgba(51,8,103,0.4)) */
    /* background: linear-gradient(to right, rgba(94,231,223,0.4), rgba(180,144,202,0.4)) */
    /* background: linear-gradient(to right, rgba(251,194,235,0.4), rgba(166,193,238,0.4)) */
    /* background: linear-gradient(to right, #00ffa3, #dc1fff); */
    /* background: linear-gradient(to right, rgba(252,203,144,0.4), rgba(213,126,235,0.4)) */
    background: linear-gradient(to right, rgba(94,231,223,0.5), rgba(180,144,202,0.5));
    font-family: montserrat, arial, verdana;
}

.card{ 
    box-shadow: 0 0 15px 1px rgba(0, 0, 0,0.4);
    background-color: white;
    margin-top: 100px;
    border-radius: .5rem;
    padding: .5rem;
    /* max-width: 300px; */
    /* margin: auto auto; */
    display: none;
    width: 400px;
    height: 400px;
    /* margin-top: 200px; */
    /* padding-left: 35px; */
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
}

.form-group:last-child{
    margin: 0;
}

.form-group > label{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

.form-group > input{
    border: 2px solid #333;

    border-radius: .25rem;
    font-size: 1.2rem;
    padding: .6rem;
    width: 350px;
    height: 30px;
    margin-bottom: 15px;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.form-group > input:focus{
    border: none;
    border: 2px solid rgba(180,144,202,0.5);
}
.step-title{
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}
.emailred{
    border: 2px solid red;
}
.card.active{
    display: grid;
    align-items: center;
    justify-content: center;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .card.active button{
    width: 100px;
    height: 40px;
    font-size: large;
    display: inline;
    border: none;
    outline: none;
    background:  linear-gradient(rgba(94,231,223,0.5), rgba(180,144,202,0.5))border-box;
    z-index: 1;
    position: relative;
    cursor: pointer;
}
.btn::before{
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: white;
    z-index: -1;
    transition: 200ms;
}
.btn::after{
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, #00ffa3, #dc1fff);
    background-clip: text;
    color: transparent;
    transition: 200ms;
}
button:hover{
    background:  linear-gradient(rgba(94,231,223,0.5), rgba(180,144,202,0.5))border-box;
} */
#emailid{
    margin: 0;
    padding: 0;
    color: red;
    font-size: 10px;
}
#passwords{
    margin: 0;
    padding: 0;
    color: red;
}
#confirmPasswords{
    margin: 0;
    padding: 0;
    color: red;
}
.inputgreen{
    border: 2px solid green;
}
.btn {
  width: 100px;
  height: 40px;
  font-size: large;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  /* background: linear-gradient(to right, #00ffa3, #dc1fff); */
  background:  linear-gradient(to right, rgba(94,231,223,0.5), rgba(180,144,202,0.5));
  cursor: pointer;
  color: rgb(135, 83, 169,0.5);
  
}
button:hover{
    color:grey;
}
.btn::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
  transition: 200ms;
  
}

.btn::after {
  content: attr(data);
  font-size: 16px;
  /* background: linear-gradient(to left, #00ffa3, #dc1fff); */
  /* background-image: linear-gradient(to left, #00ffa3, #dc1fff); */
  background-color: white;
  color: transparent;
  transition:200ms;
}

.btn:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: white;
}
.btn:hover{
    background-color: white;
}
.btn:hover::after {
  color:#dc1fff;
  background: white;
}
.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin-top: 120px;
}

.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color:#333;
    z-index: -1;
}
.progress{
    background-color: rgb(176, 116, 214);
    width: 0%;
 }
.progress-step{
    width: 3rem;
    height: 3rem;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-step::before{
    counter-increment: step;
    content: counter(step);
    color: white;
}
.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: 4rem;
    text-align: center;
    font-size: medium;
    color: #333;
}
.progress-step-active{
    background-color: rgb(176, 116, 214);
}
.account{
    font-weight: normal;
}


